.left-sidebar {
  width: 164px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out;
  transform: translateZ(0);
  box-sizing: border-box;
  font-size: 13px;
}

.side-nav {
  height: auto;
  max-width: 100%;
  position: sticky;
  margin: 50px 0px;
  padding: 20px 0px;
}

.side-nav-div {
  padding: 10px 0px;
}
.side-nav-div div {
  padding-left: 10px;
}

.side-nav-links {
  text-decoration: none;
  font-size: 13px;
}

@media (max-width: 576px) {
}
@media (max-width: 768px) {
}
@media (max-width: 1024px) {
  .left-sidebar {
    width: 140px;
  }
}
@media (max-width: 1200px) {
}
@media (max-width: 1400px) {
}
